<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fbaa64">  <td>16/02/04 10:38:56</td>   <td>0</td> <td title="&gt;&gt;keyCodeTest.initiat()[pri:0, instance:FunctionalTest.keyCodeTest@1e643faf]">&gt;&gt;initiat</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>16/02/04 10:39:11</td>   <td>15148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="keyCodeTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.keyCodeTest@1e643faf]">keycode</td> 
  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>16/02/04 10:39:12</td>   <td>16401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="keyCodeTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.keyCodeTest@1e643faf]">keycode</td> 
  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>16/02/04 10:39:17</td>   <td>21592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="keyCodeTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.keyCodeTest@1e643faf]">keycode</td> 
  <td>main@99347477</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>16/02/04 10:39:22</td>   <td>26409</td> <td title="&lt;&lt;keyCodeTest.close()[pri:0, instance:FunctionalTest.keyCodeTest@1e643faf]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99347477</td>   <td></td> </tr>
</table>
