<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:50:53</td>   <td>0</td> <td title="&lt;&lt;FunctionalTest.close()[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:48:39</td>   <td>-133912</td> <td title="&gt;&gt;FunctionalTest.initiate()[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">&gt;&gt;initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:49:16</td>   <td>-96536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">keycode</td> 
  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:49:18</td>   <td>-95260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">keycode</td> 
  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:49:53</td>   <td>-59598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">keycode</td> 
  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:50:20</td>   <td>-32654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.keycode(java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">keycode</td> 
  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:48:55</td>   <td>-117604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">login</td> 
  <td>main@1393931310</td>   <td></td> </tr>
<tr bgcolor="ffcba5">  <td>16/03/04 11:50:24</td>   <td>-28578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalTest.validateBreadCrumb()[pri:0, instance:FunctionalTest.FunctionalTest@96532d6]">validateBreadCrumb</td> 
  <td>main@1393931310</td>   <td></td> </tr>
</table>
